/* Turgle stylesheet */

#wrapper {
    margin: 0 auto;
    width: 960px;
    height: 650px;
    font-family: Arial, "sans serif";
}

#main_image {
    margin: 0 auto;
    width: 240px;
    height: 260px;
    margin-top: 16px;
}

.option {
    width: 240px;
    height: 240px;
    margin-right: 60px;
    float: left;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

.image p {
	text-align: left;
    height: 20px;
    width: 240px;
}

img {
    width: 240px;
    height: 240px;
}

#iA { margin-left: 60px; }

.prompt {
    height: 50px;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}
