/* Turgle stylesheet */

#wrapper {
    margin: 50px auto;
    width: 960px;
    height: 670px;
    font-family: Arial, "sans serif";
    text-align: center;
}

.main_image {
    margin: 0 auto;
    width: 240px;
    height: 280px;
    margin-top: 16px;
}

.option {
    width: 240px;
    height: 240px;
    margin-right: 60px;
    float: left;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

.image p {
    height: 40px;
    width: 240px;
}

img {
    width: 240px;
    height: 240px;
}

#iA { margin-left: 60px; }

.prompt {
    height: 50px;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

#final_msg {
    margin: 100px auto;
    text-align: center;
}

#final_msg button {
    margin-top: 50px;
}
